/*
    mobile device : @media only screen and (max-width: 480px)

    Tablets device: @media only screen and (max-width: 768px)

    Desktops device: @media only screen and (max-width: 1024px)
    */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

$backgroundColor: #F4F5FA;
$fontFamily: "Open Sans", sans-serif;
$colorText: rgba(58, 53, 65, 0.768);
$fontFamilyInter: "Inter", sans-serif;
$textContent: #3A3541DE;

* {
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: $backgroundColor;
}

.container_bankWealify {
    // background-color: aqua;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // padding-inline: 470px;
}

.header_container {
    // padding-inline: 24px;
    background-color: transparent;
    width: 100%;
    max-width: 1440px;
}

.header {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #cccccc00;
    // background-color: #9155FD;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.icon_header {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    i {
        font-size: 20px;
    }
}
.icon_header:hover {
    background-color: rgb(212, 212, 212);
    transition: 0.5s;
}

.icon_avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 10px;

    img {
        width: 100%;
        border-radius: 20px;
    }
}

.content_container {
    padding: 24px;
    width: 100%;
    max-width: 1440px;
    background-color: white;
    border-radius: 6px;

    .header_content {
        margin-bottom: 16px;
        padding-top: 32px;
        // background-color: aqua;

        p {
            font-size: 24px;
            font-family: $fontFamily;
            color: rgb(58 53 65 / 87%);
            font-weight: 500;
        }
    }
}

.dropdown_element {
    cursor: pointer;
    min-height: 48px;
    height: 100%;
    // background-color: aquamarine;
    .dropdown_element--contentfirst {
        width: 100%;
        display: flex;
        // padding: 10px;
        justify-content: space-between;
        outline: 0.5px solid #e3e2e4;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        flex-direction: column;
        max-width: 1352px;
    // background-color: #9155FD;
    }


}

.dropdown_element--contentsecond {
    width: 100%;
    display: flex;
    // padding: 10px;
    justify-content: space-between;
    outline: 0.5px solid #e3e2e4;
    flex-direction: column;
    max-width: 1352px;
    // background-color: #9155FD;
}

.icon__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // background-color: aquamarine;
    padding: 20px;
}

.icon__title p {
    font-size: 20px;
    color: $colorText;
    font-family: $fontFamilyInter;
    font-weight: 500;
}

.down__icon {
    font-size: 20px;
    color: $colorText;
    transition: transform 0.5s;
    transform: rotateZ(0deg);
}

.rotate {
    transform: rotateZ(180deg);
    transition: 0.5s;
}

.rightbutton{
    display: flex;
    justify-content: end;
    align-items: center;

    button{
        padding: 7.5px 22px;
        background-color: #9155FD;
        border: 0;
        margin-left: 10px;
        border-radius: 6px;
        font-size: 14px;
        color: white;
        cursor: pointer;
        font-weight: 500;
        font-family: $fontFamily;
        line-height: 1.71;
    }

}


.card__item__container--grand{
    margin-bottom: 20px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card__item__container{
    // max: 33.333%;
    // background-color: #9055fd38;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 6px;
    // margin-right: 20px;
    overflow: hidden;
}

.card__item__header{
    width: 100%;
    height: 100%;
    background-color: #E9DDFF;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
}

.content--header{
    width: 70%;

    h3 {
            font-size: 17px;
            font-family: $fontFamilyInter;
            font-weight: 600;
            color: $textContent;
        }

    .h3__bank{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
h3 {
        font-size: 17px;
        font-family: $fontFamilyInter;
        font-weight: 600;
        color: $textContent;
    }
    }
   
}

.content__button--header{
    width: 30%;
}

.uutien{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    align-items: center;
    p{
        font-size: 13px;
        font-family: $fontFamilyInter;
        color: #3A3541DE
    }
}

.uutienNumber{
    margin-left: 12px;
    width: 22px;
    height: 22px;
    background-color: rgb(211, 187, 254);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
        font-size: 14px;
        font-family: $fontFamilyInter;
}

.content__button--header{
    display: flex;
    flex-direction: row;
    // background-color: #9155FD;
    justify-content: space-evenly;
    align-items: center;
}

.hover__simple{
    
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.hover__simple:hover{
    background-color: #c5c5c578;
    transition: 0.5s;
}

.card__item__body{
    padding: 8px 16px;
}

.horizontal__item{
    display: flex;
    flex-direction: row;
    margin-block: 5px;
    overflow: hidden;
    
    p{
        width: 50%;
        padding: 4px 0 0 4px;
        font-size: 16px;
        font-family: $fontFamilyInter;
        color: $textContent;
    }

    span{
        font-size: 13px;
        font-family: $fontFamilyInter;
        color: white;
            background-color: rgb(48, 181, 31);
        padding:5px 8px;
        border-radius: 20px;
        align-self: center;
        display: flex;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    // background-color: #9155FD;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 50;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    height: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(48, 181, 31);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(48, 181, 31);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    
}

.slider.round:before {
    border-radius: 50%;
}


.item__content__dropdown {
    max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
        padding-inline: 20px;
}

.item__content__dropdown.show {
    max-height: 2000px;
        transition: max-height 2s ease;
}
   

    
