@charset "UTF-8";
/*
mobile device : @media only screen and (max-width: 480px)

Tablets device: @media only screen and (max-width: 768px)

Desktops device: @media only screen and (max-width: 1024px)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4;
  display: flex;
}

.btnModal {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  border: 1.5px #9155fd solid;
  border-radius: 8px;
  color: #9155fd;
  font-weight: 700;
  font-size: 14;
  padding: 10px;
}

.container {
  background-color: rgba(255, 255, 255, 0.9921568627);
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  position: relative;
  height: 70%;
  overflow-y: auto;
  margin-top: 100px;
  padding-bottom: 10px;
}

.container::-webkit-scrollbar {
  width: 0;
  /* Ẩn thanh cuộn ngang */
  height: 0;
  /* Ẩn thanh cuộn dọc */
}

.container-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.341);
  /* justify-content: center;
  align-items: center; */
  display: flex;
  z-index: 1;
  display: none;
}

.container-modal.show {
  display: block;
}

.header {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  position: sticky;
  z-index: 2;
  top: 0;
  padding-block: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.103);
}

.header h1 {
  font-weight: 700;
  font-size: 23px;
  font-family: "Lato", sans-serif;
}

.imghd {
  border: 0;
  background-color: rgba(255, 222, 173, 0);
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 3px;
  cursor: pointer;
}

.body {
  background-color: rgba(216, 238, 213, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-inline: 20px;
}

.container.hide {
  display: none;
}

.container.show {
  display: block;
}

.vi {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(79, 31, 162, 0);
  margin-block: 5px;
  margin-bottom: 10px;
}

.txt-title {
  background-color: rgba(56, 173, 175, 0);
  width: 30%;
  margin-right: 10px;
}

.txt-title p {
  color: #808080;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.txt-input {
  background-color: rgba(246, 144, 146, 0);
  display: flex;
  justify-content: end;
  align-items: center;
  width: 70%;
  /* margin-left: 10px; */
}

.txt-input input {
  height: 30px;
  border-radius: 3px;
  border: 0.1px #e4e4e4 solid;
  width: 232px;
  padding-left: 5px;
  padding-right: 5px;
  padding-block: 20px;
  padding-inline: 10px;
}

.hanmucInput {
  border-radius: 3px;
  border: 0.1px #e4e4e4 solid;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  width: 232px;
  /* margin-top: 30px; */
  margin-bottom: 15px;
  background-color: rgba(144, 85, 253, 0);
}

.hanmucContainer {
  background-color: rgba(246, 144, 146, 0);
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin-left: 5px;
}

.input1 {
  width: 60%;
  height: 30px;
  background-color: rgba(144, 85, 253, 0);
}

.input1 input {
  width: 95%;
  height: 95%;
  border: 0 white solid;
  padding-inline: 10px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

.noidung {
  font-family: "Late", sans-serif;
  background-color: rgba(128, 128, 128, 0);
}

.input2 {
  width: 40%;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  /* margin-right: 10px; */
  flex: 1;
}

.input2 .noidung {
  flex: 0.8;
  word-wrap: normal;
  width: -moz-fit-content;
  width: fit-content;
}

#reset-inpuutCrr.show {
  display: block;
}

.add-currency {
  background-color: rgba(255, 228, 196, 0);
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  width: 70%;
}

.btn-add-currency {
  padding: 10px 15px;
  background-color: #9155fd;
  border: 1px gray solid;
  border-radius: 8px;
  cursor: pointer;
  margin-top: -15px;
  color: white;
  /* margin-left: 70px; */
}

.empty {
  width: 30%;
}

.check-input {
  background-color: rgba(246, 144, 146, 0);
  width: 70%;
  display: flex;
  justify-content: end;
  /* margin-left: 50px; */
}

.checkContain {
  background-color: rgba(144, 214, 246, 0);
  width: 232px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.level-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 3px;
}

.level-center label {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.btn-submit {
  display: flex;
  margin-top: 15px;
  background-color: rgba(127, 255, 212, 0);
  width: 100%;
  padding-block: 10px;
  justify-content: end;
}

.btn-submit button {
  cursor: pointer;
}

.btn-huy {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  border: 1.5px #9155fd solid;
  border-radius: 8px;
  color: #9155fd;
  font-weight: 700;
  font-size: 14;
  padding: 10px;
}

.btn-dongy {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px #9155fd solid;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14;
  background-color: #9155fd;
}

/* xulyDropdown */
.btn-drop {
  background-color: white;
  border: 0;
  cursor: pointer;
  margin-left: 10px;
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-drop:hover {
  background-color: rgba(128, 128, 128, 0.3843137255);
  border-radius: 5px;
}

.fake-input {
  height: 30px;
  width: 232px;
  border-radius: 3px;
  border: 0.1px #e4e4e4 solid;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: rgba(144, 85, 253, 0);
  padding-block: 20px;
  padding-inline: 10px;
}

.dropdownCrr {
  width: 30%;
  background-color: #9155fd;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  list-style: none;
  /* padding:10px; */
  padding-left: 0;
}

.dropdown-menu li:hover {
  background-color: rgba(224, 224, 224, 0.5607843137);
  cursor: pointer;
}

.dropdown-menu li {
  /* width: 100%; */
  background-color: rgba(248, 247, 252, 0);
  border-radius: 5px;
  padding-left: 5px;
}

.crrContainer.show {
  display: block;
}

.hide {
  display: none;
}

.dropdown-menu li p {
  font-size: 10;
  color: #000000;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  background-color: rgba(203, 20, 20, 0);
  width: -moz-fit-content;
  width: fit-content;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
}

.dropdown-menu.show {
  display: block;
}

@media only screen and (max-width: 480px) {
  .container {
    background-color: rgba(172, 254, 249, 0);
    width: 70%;
    padding-block: 15px;
  }
  .btn-add-currency {
    margin-left: 0;
  }
  .add-currency {
    justify-content: end;
    padding-right: 0 !important;
  }
  .check-input {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 768px) {
  /* .container {
      background-color: #acfef963;
      width: 70%;
      padding-block: 15px;
  } */
}/*# sourceMappingURL=style.css.map */